<!DOCTYPE html>
<html>
    <head>
        <title>Ruislip Eagles  - {{pagename}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main-pfx.css" />
    </head>
    <body>
        <header>
            <!-- Left nav -->
            <div class="logo ">
                <img class="logo center" alt="Ruislip Eagles" src="/images/logo-md.png" />
            </div>
            <nav class="main ">
                <ul>
                    <li><a href="/news/">News</a></li>
                    <li><a href="/news/">Teams</a></li>
                    <li><a href="/news/">Calendar</a></li>
                </ul>
            </nav>
            <nav class="main ">
                <ul>
                    <li><a href="/news/">Training</a></li>
                    <li><a href="/news/">About The Eagles</a></li>
                    <li><a href="/news/">Contact Us</a></li>
                </ul>
            </nav>
           
            
            
            <!-- logo -->
            <!--Right nav -->
        </header>
        {% block content %}
        
        {% endblock %}
        <footer>
            
        </footer>
    </body>
</html>